main{
    margin: auto;
    max-width: 1160px;
    background-color: #782221 ;
    border-right: 2px solid black;
}

header{
    position: center;
}

#entete{
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    padding-top: 30px;

}

#photo-de-profil{
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#photo-de-profil:hover{
    transform: scale(1.1);
}


#flex-row1{
    display: flex;
    flex-direction: row;
    background-color: #2c1d27;
    height: 45px;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}


#adresse{
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

#adresse:hover{
    text-decoration: underline;
}

#ml{
    color: white;
    float: none;
    text-decoration: none;
    padding-right: 7%;
}

#ml:hover{
    text-decoration: underline;
}

#tel{
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

#tel:hover{
    text-decoration: underline;
}

#page_pr{
    display: flex;
    flex-direction: row;
}

#g{
    color: white;
    width:max-content;
}

#left {
    background-color: #dbc2a4;
    width: 80%;
    padding-left: 10px;
    line-height: 110%;
    color: black;
}

#phrase{
    display: grid;
    grid-template-columns: 80%;
    padding-left: 20px;
    text-indent: 15%;


}

#d {
    display: flex;
    background-color: white;
    width: 300%;
    padding-right: 10px;
    line-height: 110%;
    color: black;
    flex-direction: column;
}

#right{
    text-indent: 3%;
    background-color: #dbc2a4;
    height: 20px;
    padding-top: 3px;
    border-left: 4px solid black;
}

#phrase2{
    text-indent: 3%;


}


#flex-row2{
    display: flex;
    flex-direction: row;
}

#rs1:hover{
    transition: opacity 0.3s;
    opacity: 0.7;
}

#rs2:hover{
    transition: opacity 0.3s;
    opacity: 0.7;
}

#rs3:hover{
    transition: opacity 0.3s;
    opacity: 0.7;
}


footer{
    display: flex;
    justify-content: center;

}

small{
    display: flex;
    justify-content: center;
    color: white;
}